
<div>
    <h4>Todos los users</h4>

    <p>...</p>

    {{#each totalUsers}}

    <h5>{{name}}</h5>
    <p>{{candy}}</p>
    <p>{{likesPokemon}}</p>
    <p>{{pizzaToppings}}</p>

    {{/each}}
</div>